*{
    margin: 0;
    padding: 0;
}
/* to exit the down scroll bar */
body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
    background-repeat: no-repeat;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -144px;
}
.track{
    height: 30vh;
    width: 600vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 70vh;
    animation: trackMove linear 8s infinite;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 440px;
    bottom: 30vh;
    animation: shake linear .6s infinite;
}

.wheel1 img{
    width: 77px;
    position: relative;
    top: 40px;
    left: 44px;
    animation: wheelRotation linear .06s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -41px;
    left: 235px;
    animation: wheelRotation linear .06s infinite;
}

@keyframes wheelRotation{                 /* For animation we make our own using keyframes */
   100%{                                  /* to rotate wheels */
       transform: rotate(360deg);

   }
}
@keyframes trackMove{                 /* For moving track backwards */
   100%{
       transform: translateX(-500vw);

   }
}

@keyframes shake{                 /* To shake the car body */
   0%{
       transform: translateY(-5px);
    }
   50%{
       transform: translateY(5px);
    }
   100%{
       transform: translateY(-5px);
    }
}
@keyframes shakebody{                 /* to shake whole body */
   0%{
       transform: translateY(-50px);
    }
   50%{
       transform: translateY(50px);
    }
   100%{
       transform: translateY(-50px);
    }
}